body,
html {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0 auto;
}
#container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: black solid 10px;
	height: 28em;
	width: 17em;
}

#result {
	display: flex;
	flex-direction: column-reverse;
	width: 100%;
	height: 25%;
	text-align: right;
}

#input {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	justify-items: center;
	align-items: center;
	width: 100%;
	height: 75%;
}

#zero {
	grid-column-start: 1;
	grid-column-end: span 2;
	justify-self: stretch;
}

.btn {
	border: solid black 2px;
	border-radius: 50%;
	padding: 1em;
}

@media screen and (min-width: 768px) {
	#container {
		height: 37em;
		width: 23em;
	}
}

@media screen and (min-width: 1024px) {
	#container {
		height: 46em;
		width: 30em;
	}
}
