:root {
	--clr-primary-900: #1c1c1c;
	--clr-primary-700: #505050;
	--clr-primary-200: #d4d4d2;
	--clr-neutral-100: #fff;
	--clr-accent-400: #ff9500;
}
body,
html {
	display: flex;
	flex-direction: column;
	height: 100vh;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	font-weight: 600;
	font-size: 5.5vw;
	background-color: var(--clr-primary-900);
}

.special-op {
	background-color: var(--clr-primary-200);
}

#deci,
.num {
	background-color: var(--clr-primary-700);
	color: var(--clr-neutral-100);
}

#equal,
.operator {
	background-color: var(--clr-accent-400);
	color: var(--clr-neutral-100);
}

#container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 60vw;
}

#result {
	display: flex;
	flex-direction: column-reverse;
	width: 100%;
	text-align: right;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	font-size: 11vw;
	color: var(--clr-neutral-100);
	margin-bottom: 0.15em;
}

#input {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	width: 100%;
	justify-items: center;
	align-items: center;
	grid-gap: 1rem;
}

.btn {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	line-height: 1.25rem;
	border-radius: 50%;
	text-align: center;
	font-size: 1rem;
	padding: 0.25em;
}

#zero {
	grid-column-start: 1;
	grid-column-end: span 2;
	width: 100%;
	height: 100%;
	line-height: 1em;
	border-radius: 40px;
	text-align: left;
	font-size: 1rem;
	justify-self: center;
	text-indent: 0.7em;
}

/* .special-op:active {
	background-color: var(--clr-neutral-100);
}

.special-op:not(:active) {
	animation: fadebackground 2s infinite;
  }
  @keyframes fadebackground {
	from {background-color: var(--clr-neutral-100);}
	to {background-color: var(--clr-primary-200);}
  } */
/* 10.8 */
@media screen and (min-width: 768px) {
	body,
	html {
		font-size: 3.5vw;
	}
	#result{
		font-size: 7vw;
	}
	#container {
		width: 38vw;
	}
}

@media screen and (min-width: 1024px) {
	body,
	html {
		font-size: 2.5vw;
	}
	#result{
		font-size: 5vw;
	}
	#container {
		width: 27vw;
	}
}

@media screen and (min-width: 1280px) {
	body,
	html {
		font-size: 2vw;
	}
	#result{
		font-size: 4vw;
	}
	#container {
		width: 22vw;
	}
}